
.countdown-timer-container {
  width: 100%;
  border: 1px solid black;
}

h2 {
  color: #72035d;
}
h3 {
  color: black;
  font-weight: 400;
}

h2,h3 {
  font-size: 24px;
  margin: 1rem 0;
}

.responsive-text {
  width: 100%;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow if text is too long */
  text-align: center;
}

@media (min-width: 600px) {
  .countdown-timer-container {
    padding-bottom: 2rem;
  }
  .responsive-text {
    font-size: 54px; /* Adjust for larger screens */
  }
}
