<div class="container">
  <app-countdown-timer
    *ngIf="countdownDate"
    [targetDate]="countdownDate"
    [title]="countdownTitle"
  ></app-countdown-timer>
  <div class="form-container">
    <form [formGroup]="countdownForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Title"
          formControlName="title"
          (input)="onTitleChange()"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          (dateInput)="onDateChange()"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
</div>
