.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .app-container {
    padding: 8px;
  }
}
